{% extends('base.html') %}


{% block title %}Log in{% endblock %}


{% block content %}
<h1>Log into your account</h1>

<br>
<h2>Please log into your account from the form below</h2>
<br>
<p>Any fields with "<container class="compulsory">*</container>" must be completed</p>
<br>
<form action="{{ url_for('login') }}" method="post" autocomplete="off">
    <div class="form-grid">
        <div class="form-content">
            <label for="email">Email address: <container class="compulsory">*</container></label>
            <br>
            <input type="email" id="email" name="email" placeholder="alex@email.com" {% if user_data %}value="{{ user_data[0] }}"{% endif %} required>
        </div>
        <div class="form-content">
            <label for="password">Password: <container class="compulsory">*</container></label>
            <br>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button type="submit">Log in</button>
</form>
{% endblock %}