{% extends('base.html') %}


{% block title %}User panel{% endblock %}


{% block content %}
<h1>User panel</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>
<br>
<div class="upcoming-events">
    <h2>Your upcoming consultations</h2>
    <ul>
        {% if consultations %}
        {% for consultation in consultations %}
        <li class="event-item">
            Your consultation will be regarding: {{ consultation[0] }}
            <br>
            It is taking place at: {{ consultation[1] }}
            <br>
            <form action="{{ url_for('user') }}" method="post" autocomplete="off">
                <input value="delete-consultation" name="form_id" type="hidden">
                <input value="{{ consultation[2] }}" name="id" type="hidden">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <p>No upcoming consultations</p>
        {% endif %}
    </ul>
    <h2>Schedule a consultation</h2>
    <form action="{{ url_for('user') }}" method="post" autocomplete="off">
        <input value="schedule-consultation" name="form_id" type="hidden">
        <h2>Select a time you are available (Grey slots are already booked) <container class="compulsory">*</container></h2>
        <div class="times-grid">
            <div class="times-content">
                <p>Monday</p>
            </div>
            <div class="times-content">
                <p>Tuesday</p>
            </div>
            <div class="times-content">
                <p>Wednesday</p>
            </div>
            <div class="times-content">
                <p>Thursday</p>
            </div>
            <div class="times-content">
                <p>Friday</p>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Monday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Tuesday at 8:00')" disabled>8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Wednesday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Thursday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Friday at 8:00')" disabled>8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Monday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Tuesday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Wednesday at 10:00')" disabled>10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Thursday at 10:00')" disabled>10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Friday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Monday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Tuesday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Wednesday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Thursday at 12:00')">12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Friday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Monday at 14:00')" disabled>14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Tuesday at 14:00')">14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Wednesday at 14:00')" disabled>14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Thursday at 14:00')">14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_consultation('Friday at 14:00')">14:00</button>
            </div>
        </div>
        <h3>Time for booking</h3>
        <p id="time-consultation"></p>
        <br>
        <label for="timeslot-consultation">Check box if this is correct: </label>
        <input type="checkbox" id="timeslot-consultation" name="timeslot-consultation" required>
        
        <h2>Please select what you would like to cover in your consultation <container class="compulsory">*</container></h2>

        <br>
        <label for="typeID">Please select from dropdown</label>
        <br>
        <select name="typeID" id="typeID" required>
            <option value="" disabled selected>-- Select here --</option>
            {% for productType in productTypes %}
                <option value={{productType[0]}}>{{ productType[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Schedule a consultation</button>
    </form>
    <br>
    <h2>Your upcoming installations</h2>
    <ul>
        {% if installations %}
        {% for installation in installations %}
        <li class="event-item">
            Your installation will be regarding: {{ installation[0] }}
            <br>
            It is taking place at: {{ installation[1] }}
            <br>
            <form action="{{ url_for('user') }}" method="post" autocomplete="off">
                <input value="delete-installation" name="form_id" type="hidden">
                <input value="{{ installation[2] }}" name="id" type="hidden">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <p>No upcoming installations</p>
        {% endif %}
    </ul>
    <h2>Schedule a installation</h2>
    <form action="{{ url_for('user') }}" method="post" autocomplete="off">
        <input value="schedule-installation" name="form_id" type="hidden">
        <h2>Select a time you are available (Grey slots are already booked) <container class="compulsory">*</container></h2>
        <div class="times-grid">
            <div class="times-content">
                <p>Monday</p>
            </div>
            <div class="times-content">
                <p>Tuesday</p>
            </div>
            <div class="times-content">
                <p>Wednesday</p>
            </div>
            <div class="times-content">
                <p>Thursday</p>
            </div>
            <div class="times-content">
                <p>Friday</p>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Monday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Tuesday at 8:00')" disabled>8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Wednesday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Thursday at 8:00')">8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Friday at 8:00')" disabled>8:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Monday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Tuesday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Wednesday at 10:00')" disabled>10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Thursday at 10:00')" disabled>10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Friday at 10:00')">10:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Monday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Tuesday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Wednesday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Thursday at 12:00')">12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Friday at 12:00')" disabled>12:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Monday at 14:00')" disabled>14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Tuesday at 14:00')">14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Wednesday at 14:00')" disabled>14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Thursday at 14:00')">14:00</button>
            </div>
            <div class="times-content">
                <button type="button" onclick="setTimeslot_installation('Friday at 14:00')">14:00</button>
            </div>
        </div>
        <h3>Time for booking</h3>
        <p id="time-installation"></p>
        <br>
        <label for="timeslot-installation">Check box if this is correct: </label>
        <input type="checkbox" id="timeslot-installation" name="timeslot-installation" required>
        
        <h2>Please select what you would like to install <container class="compulsory">*</container></h2>

        <br>
        <label for="productID">Please select from dropdown</label>
        <br>
        <select name="productID" id="productID" required>
            <option value="" disabled selected>-- Select here --</option>
            {% for product in products %}
                <option value={{product[3]}}>{{ product[0] }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Schedule a consultation</button>
    </form>
    <br>
    <h2>Your vehicle carbon estimations</h2>
    <ul>
        {% if vehicleEstimations %}
        {% for vehicleEstimate in vehicleEstimations %}
        <li class="event-item">
            <h2>Estimation:</h2>
            Vehicle make: {{ vehicleEstimate[0] }}
            <br>
            Vehicle model: {{ vehicleEstimate[1] }}
            <br>
            Year: {{ vehicleEstimate[2] }}
            <br>
            Amount calculated: {{ vehicleEstimate[4] }} {{ vehicleEstimate[3] }}
            <br>
            <br>
            Weight in g: {{ vehicleEstimate[5] }}
            <br>
            Weight in lb: {{ vehicleEstimate[6] }}
            <br>
            Weight in kg: {{ vehicleEstimate[7] }}
            <br>
            Weight in mt: {{ vehicleEstimate[8] }}
            <br>
            <br>
            It was made at: {{ vehicleEstimate[9] }}
            <br>
            <form action="{{ url_for('user') }}" method="post" autocomplete="off">
                <input value="delete-vehicle-estimate" name="form_id" type="hidden">
                <input value="{{ vehicleEstimate[10] }}" name="id" type="hidden">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </li>
        </li>
        {% endfor %}
        {% else %}
        <p>No vehicle estimations</p>
        {% endif %}
    </ul>
    <br>
    <h2>Your energy carbon estimations</h2>
    <ul>
        {% if energyEstimations %}
        {% for energyEstimate in energyEstimations %}
        <li class="event-item">
            <h2>Estimation:</h2>
            Country: {{ energyEstimate[0] }}
            <br>
            State: {{ energyEstimate[1] }}
            <br>
            Amount calculated: {{ energyEstimate[3] }} {{ energyEstimate[2] }}
            <br>
            <br>
            Weight in g: {{ energyEstimate[4] }}
            <br>
            Weight in lb: {{ energyEstimate[5] }}
            <br>
            Weight in kg: {{ energyEstimate[6] }}
            <br>
            Weight in mt: {{ energyEstimate[7] }}
            <br>
            <br>
            It was made at: {{ energyEstimate[8] }}
            <form action="{{ url_for('user') }}" method="post" autocomplete="off">
                <input value="delete-energy-estimate" name="form_id" type="hidden">
                <input value="{{ energyEstimate[9] }}" name="id" type="hidden">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <p>No energy estimations</p>
        {% endif %}
    </ul>
</div>

<script>
    let timeslot = "";
    document.getElementById('timeslot-consultation').value = timeslot;
    document.getElementById('timeslot-installation').value = timeslot;
    document.getElementById('time-consultation').innerHTML = timeslot;
    document.getElementById('time-installation').innerHTML = timeslot;

    function setTimeslot_installation(timeslot) {
        document.getElementById('timeslot-installation').value = timeslot;
        document.getElementById('time-installation').innerHTML = timeslot;
    }

    function setTimeslot_consultation(timeslot) {
        document.getElementById('timeslot-consultation').value = timeslot;
        document.getElementById('time-consultation').innerHTML = timeslot;
    }
    
</script>

<a href="{{ url_for('logout') }}">Log out</a>
{% endblock %}