{% extends('base.html') %}


{% block title %}Products{% endblock %}


{% block content %}
<h1>Products</h1>
{% if products %}
<div class="product-scroll">
    <h2>Solar panels</h2>
    {% for product in products %}
    {% if product[3] == 1 %}
    <div product-content>
        <img src="{{ product[2] }}" alt="Image for {{ product[0] }}">
        <h3>{{product[0]}}</h3>
        <button type="button" class="drop-down-button">More information</button>
        <div class="drop-down-content">
            <p>{{product[1]}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
<div class="product-scroll">
    <h2>Electric Vehicle chargers</h2>
    {% for product in products %}
    {% if product[3] == 2 %}
    <div product-content>
        <img src="{{ product[2] }}" alt="Image for {{ product[0] }}">
        <h3>{{product[0]}}</h3>
        <button type="button" class="drop-down-button">More information</button>
        <div class="drop-down-content">
            <p>{{product[1]}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
<div class="product-scroll">
    <h2>Smart home energy management systems (EMS)</h2>
    {% for product in products %}
    {% if product[3] == 3 %}
    <div product-content>
        <img src="{{ product[2] }}" alt="Image for {{ product[0] }}">
        <h3>{{product[0]}}</h3>
        <button type="button" class="drop-down-button">More information</button>
        <div class="drop-down-content">
            <p>{{product[1]}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>There was a problem with obtaining the products, our apologies.</p>
{% endif %}

<script>
    var coll = document.getElementsByClassName("drop-down-button");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}